= simple_form_for @customer do |f|
  .row
    .col-md-3
      = f.input :type_client, as: :select, collection: Customer.type_clients.map { |k,v| [k.humanize, k]}, include_blank: false
    .col-md-3.pessoa_juridica{style: (f.object.pessoa_jurídica?) ? 'display: block' : 'display: none'}
      = f.input :cnpj, input_html: { class: 'cnpj'}
    .col-md-3.pessoa_fisica{style: (f.object.pessoa_física?) ? 'display: block' : 'display: none'}
      = f.input :cpf, input_html: { class: 'cpf'}
    .col-md-3
      = f.input :logo_path, as: :file
  .row
    .col-md-6
      = f.input :fantasy_name, input_html: { placeholder: "Digite um nome"}
    .col-md-6.pessoa_juridica{style: (f.object.pessoa_jurídica?) ? 'display: block' : 'display: none'}
      = f.input :social_reason, input_html: { placeholder: "Digite uma razão social"}
  %hr/
  .row
    .col-md-2
      = f.input :cep, input_html: { placeholder: "00000-000", class: 'cep'}
    .col-md-1
      = f.input :uf, input_html: { placeholder: "UF", maxLength: 2}
    .col-md-9
      = f.input :city, input_html: { placeholder: "Digite o nome da cidade"}
  .row
    .col-md-12
      = f.input :address, input_html: { placeholder: "Digite o endereço"}
  %hr/
  .row
    .col-md-3
      = f.input :contact_email, input_html: { placeholder: "contato@"}
    .col-md-3
      = f.input :cadastre_email, input_html: { placeholder: "cadastro@"}
    .col-md-3
      = f.input :telephone, input_html: { placeholder: "somente números"}
    .col-md-3
      = f.input :celphone, input_html: { placeholder: "somente números"}
  %hr/
  .row
    .col-md-6
      = f.input :responsible_name, input_html: { placeholder: "Digite o nome do responsável"}
    .col-md-3
      = f.input :responsible_telephone, input_html: { placeholder: "somente números"}
  %hr/
  .row
    .col-md-12
      = f.submit "Salvar cliente", class: 'btn btn-success', data: { disable_with: t(:disable_button)}
      = link_to "Voltar para listagem", customers_path

:javascript
  $(document).ready(function(){
    $("#customer_type_client").on('change', function(){
      if($(this).val() == "pessoa_física") {
        $('.pessoa_fisica').show();
        $('.pessoa_juridica').hide();
      } else {
        $('.pessoa_fisica').hide();
        $('.pessoa_juridica').show();
      }
    })
  })