.panel-heading
  %h3
    %b Listagem de clientes
    %br
    %small 
      Lista de clientes cadastros
    = link_to "adicionar cliente", new_customer_path, class: 'btn btn-success btn-xs pull-right'
%hr/
.panel-body
  .row  
    .col-md-12
      %table.table.table-striped.table-hover.table-bordered
        %thead 
          %tr
            %th Logo
            %th Cod.
            %th Nome
            %th CPF/CNPJ
            %th E-mail de contato
            %th Telefone
            %th Ação
        %tbody
          - @customers.order('id DESC').each do |customer|
            %tr
              %td.col-md-1= image_tag customer.logo_path, width: 35
              %td.col-md-1= customer.id
              %td.col-md-3= customer.fantasy_name.downcase
              %td.col-md-1= (customer.pessoa_jurídica?) ? customer.cnpj : customer.cpf
              %td.col-md-1= customer.contact_email
              %td.col-md-1= customer.responsible_telephone
              %td.col-md-1
                = link_to "", edit_customer_path(customer), class: 'btn btn-success btn-xs glyphicon glyphicon-pencil'
                = link_to "", customer_path(customer), method: :delete, class: 'btn btn-danger btn-xs glyphicon glyphicon-remove', data: { confirm: t(:confirm)}

