.panel-heading
  %h3
    %b Listagem de empreendimentos
    %br
    %small 
      Lista de empreendimentos cadastros
%hr/
.panel-body
  .row  
    .col-md-12
      .row
        = simple_form_for url_for, method: :get do |f|
          .col-md-3
            = f.input :by_customer, label: 'Cliente', as: :select, collection: Customer.all.order(:id), label_method: :label_name, input_html: { name: 'by_customer'}, include_blank: "Todos", selected: params[:by_customer]
          .col-md-3
            = f.submit "Filtrar lista", name: nil, class: 'btn btn-primary', style: "margin-top: 24px"

  %hr/ 
  .row  
    .col-md-12
      %table.table.table-striped.table-hover.table-bordered
        %thead 
          %tr
            %th Cod.
            %th Nome
            %th Cliente
            %th Logo
            %th Situação
            %th Ação
        %tbody
          - @projects.each do |project|
            %tr
              %td.col-md-1= project.id
              %td.col-md-3= project.name
              %td.col-md-3= project.customer.label_name if project.customer.present?
              %td.col-md-2= link_to "visualizar", project.image_path.to_s, target: '_blank' if project.image_path.present?
              %td.col-md-1= project.status ? "ativo" : "inativo"
              %td.col-md-1
                = link_to "", edit_project_path(project), class: 'btn btn-success btn-xs glyphicon glyphicon-pencil'
                = link_to "", project_path(project), method: :delete, class: 'btn btn-danger btn-xs glyphicon glyphicon-remove', data: { confirm: t(:confirm)}

