!!!
%html
%head
  %title NwAqui :: Administração
  = stylesheet_link_tag    "admin/application", media: "all"
  = javascript_include_tag "admin/application", data: { 'turbolinks-eval' => false}
  :javascript
    tinyMCE.init({
      selector: 'textarea.tinymce'
    });
  = csrf_meta_tags
%body#page-top
  = render 'layouts/admin/nav'
  .container
    = render 'layouts/admin/flash_message'
    %div{class: (@dashboard.nil?) ?  'panel' : ''}
      = yield

#modal.modal.fade{"aria-labelledby" => "modal", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      