= simple_form_for @user, remote: true do |f|
  .row
    .col-md-12
      %label
        %b E-mail
      = f.input :email,label: false, input_html: { placeholder: "Digite seu e-mail"}
  .row
    .col-md-6
      %label 
        %b Senha
      = f.input :password_digest, label: false, input_html: { placeholder: "Digite uma senha entre 6 e 20 dígitos"}
    .col-md-6
      %label
        %b Repita sua senha
      = f.input :password_confirmation,label: false,  input_html: { placeholder: "Repita sua senha"}
  %hr/
  .row
    .col-md-12
      = f.submit "Realizar meu cadastro", class: 'btn btn-primary'