= simple_form_for @user, remote: true do |f|
  .row
    .col-md-12
      = f.input :email, input_html: { placeholder: "Digite seu e-mail"}
  .row
    .col-md-12
      = f.input :username, input_html: { placeholder: "Digite uma credencial de acesso"}
  .row
    .col-md-12
      = f.input :password, input_html: { placeholder: "Digite uma senha entre 6 e 20 dígitos"}
  .row
    .col-md-12
      = f.input :password_confirmation, input_html: { placeholder: "Repita sua senha"}
  %hr/
  .row
    .col-md-12
      = f.submit "Realizar meu cadastro", class: 'btn btn-primary'