.modal-header
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} &times;
  %h4.modal-title
    %b= "#{@property.general_address} - Nº #{@property.number}"
.modal-body
  .row
    .col-md-4
      %label Telefone
      %p= @property.customer.telephone
    .col-md-4
      %label Telefone Secundário
      %p= @property.customer.telephone
    .col-md-4
      %label Celular
      %p= @property.customer.celphone