.container.noo-mainbody
  .noo-mainbody-inner
    .row.clearfix
      / START MAIN CONTENT
      .noo-content.col-xs-12.col-md-8
        / START ARTICLE PROPERTY
        %article.property
          %h1.property-title
            = @property.name
            %small
              = "#{@property.address} - Nº #{@property.number}"
          .property-featured.clearfix
            .images
              .caroufredsel-wrap
                .caroufredsel_wrapper
                  %ul
                    - if @property.images.present?
                      - @property.images.order(:order).each do |image|
                        %li.image-carrosel.img-carroselmod{:style => "width: 400px;"}
                          %img.img-responsive{:src => "#{image.image}"}
                    - else
                      %li.image-carrosel.img-carroselmod{:style => "width: 400px;"}
                        %img.img-responsive{:src => "https://nwaqui.s3.amazonaws.com/uploads/real_evolution-fachada-185.jpg"}

            .thumbnails
              .thumbnails-wrap
                .caroufredsel_wrapper
                  %ul
                    - if @property.images.present?
                      - @property.images.order(:order).each do |image|
                        %li.thumb.selected{:style => "width: 138px;"}
                          %img.img-responsive{:src => "#{image.image}"}
                    - else
                      %li.thumb.selected{:style => "width: 138px;"}
                        %img.img-responsive{:src => "https://nwaqui.s3.amazonaws.com/uploads/real_evolution-fachada-185.jpg"}
              %a.caroufredsel-prev{:href => "#", :style => "display: block;"}
              %a.caroufredsel-next{:href => "#", :style => "display: block;"}
          .property-summary
            .row
              .col-md-12
                .property-desc
                  %h4.property-detail-title Descrição do Imóvel
                  %p
                    = @property.description
          .property-feature
            %h4.property-feature-title Atributos do Imóvel
            .property-feature-content.clearfix
              - Attribute.where(id: @property.property_attributes_id).each do |attribute|
                .has
                  %i.fa.fa-check-circle
                  = attribute.name
          .property-feature{:style => "overflow: hidden;"}
            %h4.property-feature-title
            .col-md-12
              %a.btn.btn-block.btn-lg.btn-default{:href => "#{@property.link_tour}", :target => "_BLANK"}
                %span.glyphicon.glyphicon-map-marker
                Confira o tour 360
          .property-feature{:style => "overflow: hidden;"}
            %h4.property-feature-title Venda
            - Customer.where(id: @property.sellers_id).each do |seller|
              .col-sm-6.col-md-2.item-col
                %img.img-responsive.img-50{:src => "#{seller.logo_path}", :width => '150'}/
          .property-feature{:style => "overflow: hidden;"}
            %h4.property-feature-title Construção
            - Customer.where(id: @property.construction_companies_id).each do |company|
              .col-sm-6.col-md-2.item-col
                %img.img-responsive.img-100{:src => "#{company.logo_path}", :width => '150'}/
          .property-feature{:style => "overflow: hidden;"}
            %h4.property-feature-title
              %b Entrar em contato -
              %a{"data-remote" => "true", :href => "/imoveis/164/contact_new"} Clique aqui
      / START SIDEBAR
      .noo-sidebar.noo-sidebar-right.col-xs-12.col-md-4
        .noo-sidebar-inner
          / START FIND PROPERTY
          .block-sidebar.find-property
            .property
              .property-detail
                %h4.property-detail-title Detalhes do Imóvel
                .property-detail-content
                  .detail-field.row
                    %span.col-xs-6.col-md-5.detail-field-label Situação
                    %span.col-xs-6.col-md-7.detail-field-value
                      Pronto
                    %span.col-xs-6.col-md-5.detail-field-label Localização
                    %span.col-xs-6.col-md-7.detail-field-value
                    %span.col-xs-6.col-md-5.detail-field-label Valor
                    %span.col-xs-6.col-md-7.detail-field-value
                      %span.amount
                        = number_to_currency @property.value
                    %span.col-xs-6.col-md-5.detail-field-label Elevador
                    %span.col-xs-6.col-md-7.detail-field-value
                      = @property.elevator ? 'Sim' : 'Não'
                    %span.col-xs-6.col-md-5.detail-field-label Quartos
                    %span.col-xs-6.col-md-7.detail-field-value
                      = @property.rooms
                    %span.col-xs-6.col-md-5.detail-field-label Sol
                    %span.col-xs-6.col-md-7.detail-field-value
                      = @property.sun_position
                    %span.col-xs-6.col-md-5.detail-field-label Valor M²
                    %span.col-xs-6.col-md-7.detail-field-value
                      = number_to_currency @property.value_m2
                    %span.col-xs-6.col-md-5.detail-field-label Vagas
                    %span.col-xs-6.col-md-7.detail-field-value
                      = @property.parking_spaces
                    %span.col-xs-6.col-md-5.detail-field-label Suites
                    %span.col-xs-6.col-md-7.detail-field-value
                      = @property.suit
                    %span.col-xs-6.col-md-5.detail-field-label Andar
                    %span.col-xs-6.col-md-7.detail-field-value
                      = "#{@property.suit} º"
                    %span.col-xs-6.col-md-5.detail-field-label Tour
                    %span.col-xs-6.col-md-7.detail-field-value
                      %a{:href => "#{@property.link_tour}", :target => "_BLANK"} Confira Aqui
          / END FIND PROPERTY
          / START RECENT PROPERTY
          .block-sidebar.recent-property
            %h3.title-block-sidebar Imóveis Recentes
            .featured-property
              %ul
                - Property.where(status: true).limit(6).order('id DESC').each do |property|
                  %li
                    .featured-image
                      %a{:href => "#{property_path(property)}"}
                        - if property.images.order(:order).present?
                          %img.thumb-featured{:alt => "", :src => "#{property.images.order(:order).first.image}"}/
                        - else
                          %img.thumb-featured{:alt => "", :src => "/images/patterns/az_subtle.png"}/
                    .featured-decs
                      %span.featured-status
                        = property.situation.humanize
                      %h4.featured-title
                        %a{:href => "#{property_path(property)}", :title => "Imóvel"}
                          = "#{property.address} - Nº #{property.number}"
          / END RECENT PROPERTY
      / END SIDEBAR