= simple_form_for [@address, @group, @block], remote: true do |f|
  .row
    .col-md-4
      = f.input :cep, input_html: {placeholder: "digite um cep", class: 'cep'}
  .row
    .col-md-12
      = f.input :name, input_html: {placeholder: "digite um nome"}
  .row
    .col-md-12
      = f.input :complete_address, input_html: {placeholder: "digite o endereço completo"}
  .row
    .col-md-12
      = f.input :reference_point, input_html: {placeholder: "digite um ponto de referência"}
  .row
    .col-md-12
      = f.input :tour_360, input_html: {placeholder: "digite o link 360 tour"}
  %hr/
  .row
    .col-md-12
      = f.submit "Salvar quadra", class: 'btn btn-success', data: { disable_with: t(:disable_with)}