= simple_form_for [@property, @image], remote: true do |f|
  .row
    .col-md-9
      = f.input :name
    .col-md-3
      = f.input :order, as: :string
  .row
    .col-md-12
      = f.input :image, as: :file
  %hr/
  .row
    .col-md-3
      = f.input :publish, as: :select, include_blank: false
  %hr/
  .row
    .col-md-12
      = f.submit "Salvar imagem", class: 'btn btn-success', data: { disable_with: t(:disable_with)}