.container
  .row
    .col-md-12
      
  %br/
  %section
    .container
      .section-title
        - if touch_device?
          %h6 Busca Exclusiva
        - else
          %h3 Busca Exclusiva
    - current_domain.buttons.where(publish: true).order(:order).each do |button|
      .col-md-2.col-xs-4
        - if touch_device?
          = link_to image_tag(button.image, size: '90x90'), button.link.to_s
        - else
          = link_to image_tag(button.image), button.link.to_s

  %section#recent-.wrap.recent-properties
    .container
      .recent-properties-inner
        .section-title
          - if touch_device?
            %h6 Imóveis Destaques
          - else
            %h3 Imóveis Destaques
        .recent-properties-content
          - if touch_device?
            = render 'special_mobile'
          - else
            = render 'special_desktop'
%br/
%br/
- if touch_device?
- else
  .container-fluid{style:'text-align: center; background-color: #18A3BE;'}
    = image_tag '/images/fullbanner_body.png'
    %br/
  .row
    .col-md-12{style:'text-align: center; margin: 25px 0 25px 0'}
      = image_tag '/images/responsive.png'
