.modal-header
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} &times;
  %h4.modal-title
    %b Acessar meus favoritos
.modal-body
  %br/
  %br/
  - if touch_device?
    .row
      .col-md-6.col-xs-12{style: 'text-align: center'}
        = link_to "<i class='fa fa-facebook'></i> | Acessar usando o Facebook".html_safe, '/auth/facebook', class: 'btn btn-facebook'
    %hr/
    .row
      .col-md-6.col-xs-12{style: 'text-align: center'}
        = link_to "<i class='fa fa-google-plus'></i> | Acessar usando a conta Google".html_safe, '/auth/google_oauth2', class: 'btn btn-google-plus'
  - else
    .row
      .col-md-6.col-xs-12{style: 'text-align: center'}
        = link_to "<i class='fa fa-facebook'></i> | Acessar usando o Facebook".html_safe, '/auth/facebook', class: 'btn btn-facebook'
     
      .col-md-6.col-xs-12{style: 'text-align: center'}
        = link_to "<i class='fa fa-google-plus'></i> | Acessar usando a conta Google".html_safe, '/auth/google_oauth2', class: 'btn btn-google-plus'

  %br/
  %hr/
  %br/
  .row
    .col-md-12
      = render 'form' 