= simple_form_for @property do |f|
  .row
    .col-md-4
      = f.association :customer, as: :select, label_method: :fantasy_name, include_blank: 'selecione...'
  %hr/
  .row
    .col-md-4
      = f.association :address, as: :select, include_blank: 'selecione...', input_html: { id: 'address'}
    .col-md-4
      = f.association :group, as: :select, include_blank: 'selecione...', collection: (f.object.address.present?) ? Group.where(address_id: f.object.address).order(:name) : {}, input_html: { id: 'group'}
    .col-md-4
      = f.association :block, as: :select, include_blank: 'selecione...', collection: (f.object.group.present?) ? Block.where(group_id: f.object.group).order(:name) : {}, input_html: { id: 'block'}
  %hr/
  .row
    .col-md-12
      %h4 
        %b Informações
  %br/
  .row
    .col-md-4
      = f.input :situation, as: :select, include_blank: false, collection: Property.situations.map {|k,v| [k.humanize, k]}
    .col-md-4
      = f.input :commercial_situation, as: :select, include_blank: false, collection: Property.commercial_situations.map {|k,v| [k.humanize, k]}
   
    .col-md-4
      = f.input :type_property, as: :select, include_blank: false, collection: Property.type_properties.map {|k,v| [k.humanize, k]}
  .row
    .col-md-12
      = f.input :description, input_html: { placeholder: "Descreva o imóvel", maxLength: 500}
  %hr/
  .row
    .col-md-12
      %h4 
        %b Endereço
  %br/
  .row
    .col-md-4
      = f.input :city, input_html: { placeholder: "Informe a cidade", id: 'city_field', readonly: true}
    .col-md-4
      = f.input :region, input_html: { placeholder: "Informe a região", readonly: true, id: "region_field"}
    .col-md-2
      = f.input :general_group, input_html: { placeholder: "Informe a quadra", id: "group_field", readonly: true}
    .col-md-2
      = f.input :general_block, input_html: { placeholder: "Informe o bloco", id: "block_field", readonly: true}
  .row
    .col-md-4
      = f.input :general_address, input_html: { placeholder: "Digite o endereço completo", id: "address_field", readonly: true}
    .col-md-4
      = f.input :complement, input_html: { placeholder: "Digite o complemento (se houver)"}
    .col-md-4
      = f.input :reference_point, input_html: { placeholder: "Digite um ponto de referência"}
  %hr/
  .row
    .col-md-12
      %h4 
        %b Detalhes
  %br/
  .row
    .col-md-2
      = f.input :unit
    .col-md-2
      = f.input :rooms, as: :string, input_html: {value: f.object.rooms.present?  ? f.object.rooms : 0}
    .col-md-2
      = f.input :parking_spaces, as: :string, input_html: {value: f.object.rooms.present?  ? f.object.parking_spaces : 0}
    .col-md-2
      = f.input :suit, as: :string, input_html: {value: f.object.rooms.present?  ? f.object.suit : 0}
    .col-md-2
      = f.input :floor, as: :string, input_html: {value: f.object.rooms.present? ? f.object.floor : 0}
    .col-md-2
      = f.input :sun_position
    .col-md-2.value
      = f.input :value,as: :string, input_html: { class: 'coin_mask'}
    .col-md-2.value_m2
      = f.input :area, as: :string
    .col-md-2.value_m2
      = f.input :value_m2, as: :string, input_html: { class: 'coin_mask'}
    .col-md-2.value_rent
      = f.input :value_rent,as: :string, input_html: { class: 'coin_mask'}
    .col-md-4.prediction{style:  f.object.lançamento? ? 'display: block;' : 'display: none;'} 
      = f.label "Previsão de entrega"
      = f.input :prediction,label: false, as: :string, input_html: { class: 'date', value: f.object.prediction ? localize(f.object.prediction) : nil}
  %hr/
  .row
    .col-md-8
      = f.input :project, input_html: { placeholder: "Digite o nome do empreendimento/condomínio"}

  %hr/
  .row
    .col-md-2
      = f.input :elevator, as: :select, include_blank: false
    .col-md-2
      = f.input :coverage, as: :select, include_blank: false
    .col-md-2
      = f.input :status, as: :select, include_blank: false
  %hr/
  .row
    .col-md-4
      = f.input :company_id, as: :select, collection: Customer.all.order(:fantasy_name), label_method: :label_name, input_html: {multiple: true, class: 'chosen-select'}
  %hr/
  .row
    .col-md-12
      %h4 
        %b Atributos
  %br/
  .row
    .col-md-12
      = f.association :property_attributes, as: :check_boxes, label_method: lambda { |property_attribute| property_attribute.name.downcase}, label: false, item_wrapper_class: 'col-md-2'
     
  %hr/
  .row
    .col-md-12
      = f.submit "Cadastrar imóvel", class: 'btn btn-success', data: { disable_with: t(:disable_button)}
      = link_to "Voltar para listagem", properties_path, class: 'btn btn-default', input_html: { name: 'property[property_attribute_id][]'}


:javascript
  $(document).ready(function() {


    $("#property_commercial_situation").on('change', function() {
      if($(this).val() == "lançamento") {
        $('.prediction').show()
      } else {
        $('.prediction').hide()
      }
    })
    $('#property_commercial_situation').on('change', function() {

      if($(this).val() == "aluguel") {
        $('.value_rent').show();
        $('.value').hide();
        $('.value_m2').hide();
      } else {
        $('.value').show();
        $('.value_m2').show();
        $('.value_rent').hide();
      }
    });


    $('#address').on('change', function() {
      var address = $(this).val();
      $.getJSON("#{groups_addresses_path}.json?address_id="+$(this).val(), function(data) {
        var items = [];
        items.push("<option value>selecione...</option>")
        $.each(data, function(key, val) {
          items.push( "<option value='" + val.id + "'>" + val.name + "</option>");
        });
        $("#group").html(items)
      });
    });

    $('#group').on('change', function() {
      var group = $(this).val();
      $.getJSON("#{blocks_addresses_path}.json?group_id="+$(this).val(), function(data) {
        var items = [];
        items.push("<option value>selecione...</option>")
        $.each(data, function(key, val) {
          items.push("<option value='" + val.id + "'>" + val.name + "</option>");
        });
        $("#block").html(items)
      });      
    });

    $('#block').on('change', function() {
      var block = $(this).val();
      $.getJSON("#{block_addresses_path}.json?id="+$(this).val(), function(data) {
       $("#block_field").val(data[0].name)
       $("#group_field").val(data[1].name)
       $("#city_field").val(data[2].name)
       $("#address_field").val(data[0].complete_address)
       $("#region_field").val(data[2].region)
      });      
    });


    $("#property_area").on('change', function() {
      var area = $(this).val();
      var value = $('#property_value').val();
      var m2 = value / area
      $("#property_value_m2").val(m2.toFixed(2)) 
    })
  });
  