:css
  #dashboard {
    text-align: center;
    color: #1DA3C2;
  }
  #dashboard h1 {
    font-size: 80px;
    font-weight: bold;
  }

  #dashboard small {
    font-size: 20px;
    font-weight: bold;
  }
%br/
%br/

#dashboard
  .row
    .col-md-4.where
      .row
        %h1= ::Property.where(customer_id: current_user.id, status: true).count
        %small
          Imóveis ativos
    .col-md-4
      .row
        %h1= ::Property.where(customer_id: current_user.id, type_property: 1).count
        %small
          Imóveis comerciais
    .col-md-4
      .row
        %h1= ::Property.where(customer_id: current_user.id, commercial_situation: 1).count
        %small
          Imóveis à venda
  %br/
  %br/
  %br/
  %br/
  .row
    .col-md-4
      .row
        %h1= ::Property.where(customer_id: current_user.id, status: false).count
        %small
          Imóveis inativos
    .col-md-4
      .row
        %h1= ::Property.where(customer_id: current_user.id, type_property: 0).count
        %small
          Imóveis residenciais
    .col-md-4
      .row
        %h1= ::Property.where(customer_id: current_user.id, type_property: 2).count
        %small
          Imóveis aluguel