.panel
  .panel-body
    .container
      .recent-properties-inner
        .section-title
          %br/
          %h3 Meus favoritos
          = link_to "compartilhar meus favoritos", public_bookmarks_path, class: 'btn btn-primary btn-xs'
      %hr/
      %table.table.table-striped.table-hover.table-bordered
        %thead
          %tr
            %th #
            %th Tipo
            %th Situação
            %th Unidade
            %th Link
            %th Ação
        %tbody
          - bookmark_user.bookmarks.each_with_index do |bookmark, index|
            - if bookmark.property.present?
              %tr
                %td.col-md-1= index + 1
                %td.col-md-1= bookmark.property.type_property.humanize
                %td.col-md-1= bookmark.property.commercial_situation.humanize
                %td.col-md-5= bookmark.property.address_name
                %td.col-md-1= link_to 'Acessar', property_path(bookmark.property_id), target: '_blank', class: 'btn btn-success btn-xs'
                %td.col-md-1
                  = link_to "remover", bookmark_path(bookmark), method: :delete, class: 'btn btn-danger btn-xs'
            