%header.noo-header
  .main-nav-wrap.container
    .row
      .col-md-2
        = link_to image_tag('/images/logo/logo_full.png', size: '300x100'), site.root_path
      .col-md-4.col-md-offset-6
        .fav-buttons
          - if bookmark_user.present?
            = link_to "<i class='glyphicon glyphicon-star'></i> Meus favoritos".html_safe, bookmarks_path, class: 'fav-button btn btn-primary'
            = link_to "<b>Encerrar acesso</b>".html_safe, logout_sessions_path, class: 'btn btn-danger'
          - else
            = link_to "<i class='glyphicon glyphicon-star'></i> Acessar favoritos".html_safe, new_session_path,  remote: true, class: 'fav-button'
            = link_to "Realizar cadastro", new_external_user_path, remote: true,  class: 'btn btn-primary'
