.noo-wrapper
  %section#search-box.wrap.search-box
    .gsearch
      .container
        .gsearch-info
          %br/
          %br/
          %br/
          %br/
          %br/
          .gsearch-info-content
        .gsearch-wrap
          = simple_form_for :search, url: search_path, method: :get do |f|
            .gsearch-content
              .gsearch-field
                = f.input :by_commercial, as: :select, label: false, collection: Property.commercial_situations.map { |k,v| [k.humanize, v]},selected: params[:by_commercial], include_blank: "Você procura por", input_html: { name: 'by_commercial', id: 'by_commercial'}
                
                = f.input :by_type, as: :select, label: false, collection: Property.type_properties.map { |k,v| [k.humanize, v]},selected: params[:by_type], include_blank: "Tipo de imóvel", input_html: { name: 'by_type', id: 'by_type'}
                = f.input :empty,label: false, as: :select, selected: params[:by_room], include_blank: "selecione...",collection: [], input_html: { id: 'empty_one', name: 'option_one'}

                = f.input :empty,label: false, as: :select,  selected: params[:option_two], include_blank: "selecione...",collection: [], input_html: { id: 'empty_two', name: 'option_two'}

              .gsearch-action
                .gsubmit
                  %input.btn.btn-deault{type: 'submit', value: 'Buscar'}

:javascript

  $(document).ready(function() {

    options();
    select_options();

    $("#by_commercial").on('change', function() {
      html = '<option value>selecione...</option>'
      
      $("#by_type").val('')
      $("#empty_one").html(html)
      $("#empty_two").html(html)
    });

    $("#by_type").on('change', function() {
      if($("#by_commercial").val() == "") {
        alert('Selecione a situação do imóvel...')
      } else {
         options();
      }
    });

    function select_options() {
      var option_one = #{(!params[:option_one].present?) ? 'null' : params[:option_one] }
      var option_two = #{(!params[:option_two].present?) ? 'null' : params[:option_two] }

      if(option_one != null) {
        $("#empty_one").val(option_one)
      }

      if(option_two != null) {
        $("#empty_two").val(option_two)
      }
    }

    function options() {

      var situation = $("#by_commercial").val();
      var type = $("#by_type").val();

      if((situation == '0' || situation == '1') && type == '0') {
        html_one = "<option value> Nº de Quartos</option>"
        html_one += "<option value='1'>1</option>"
        html_one += "<option value='2'>2</option>"
        html_one += "<option value='3'>3</option>"
        html_one += "<option value='4'>4 ou +</option>"
        html_one += "<option value='99'>Cobertura</option>"
        $("#empty_one").html(html_one)
        $("#empty_one").attr('name', 'by_room');

        html_two  = "<option value>Quadra</option>"
        html_two += "<option value='111-311'>111/311</option>"
        html_two += "<option value='110-310'>110/310</option>"
        html_two += "<option value='109-309'>109/309</option>"
        html_two += "<option value='108-308'>108/308</option>"
        html_two += "<option value='107-307'>107/307</option>"
        html_two += "<option value='106-306'>106/306</option>"
        html_two += "<option value='105-305'>105/305</option>"
        html_two += "<option value='104-304'>104/304</option>"
        html_two += "<option value='103-303'>103/303</option>"
        html_two += "<option value='102-302'>102/302</option>"

        $("#empty_two").html(html_two)
        $("#empty_two").attr('name', 'by_group');
      }

      if((situation == '0' || situation == '1') && type == '1') {
        html_one = "<option value>Área (m²)</option>"
        html_one += "<option value='50'>0 - 50</option>"
        html_one += "<option value='70'>51 - 70</option>"
        html_one += "<option value='100'>71 - 100</option>"
        html_one += "<option value='101'>100 ou +</option>"
        $("#empty_one").html(html_one)

        html_two  = "<option value>Quadra</option>"
        html_two += "<option value='100'>100</option>"
        html_two += "<option value='300'>300</option>"
        html_two += "<option value='500'>500</option>"
        html_two += "<option value='700'>700</option>"

        $("#empty_two").html(html_two)
      }

      if(situation == '2' && type == '0') {
        html_one = "<option value> Nº de Quartos</option>"
        html_one += "<option value='1'>1</option>"
        html_one += "<option value='2'>2</option>"
        html_one += "<option value='3'>3</option>"
        html_one += "<option value='99'>Cobertura</option>"
        $("#empty_one").html(html_one)

        html_two = "<option value> Valor</option>"
        html_two += "<option value='3000'>Até R$ 3.000</option>"
        html_two += "<option value='5000'>Até R$ 5.000</option>"
        html_two += "<option value='7000'>Até R$ 7.000</option>"
        html_two += "<option value='10000'> Até R$ 10.000</option>"
        html_two += "<option value='99999'> Acima R$ 10.000</option>"
        $("#empty_two").html(html_two)
      }

      if(situation == '2' && type == '1') {
        html_one = "<option value>Área (m²)</option>"
        html_one += "<option value='50'>0 - 50</option>"
        html_one += "<option value='70'>51 - 70</option>"
        html_one += "<option value='100'>71 - 100</option>"
        html_one += "<option value='101'>100 ou +</option>"
        $("#empty_one").html(html_one)

        html_two = "<option value> Valor</option>"
        html_two += "<option value='5000'>Até R$ 3.000</option>"
        html_two += "<option value='8000'>Até R$ 8.000</option>"
        html_two += "<option value='12000'>Até R$ 12.000</option>"
        html_two += "<option value='15000'>> Até R$ 15.000</option>"
        html_two += "<option value='99999'>> Acima R$ 15.000</option>"
        $("#empty_two").html(html_two)
      }
    }
  });