.noo-wrapper
  %section#search-box.wrap.search-box
    .gsearch
      .container
        .gsearch-info
          .gsearch-info-content
            %h1
              O NOROESTE TODO. AQUI.
            %br/
            %br/
            %br/
        .gsearch-wrap 
          = simple_form_for :search, url: search_path, method: :get do |f|
            .gsearch-content
              .gsearch-field
                = f.input :by_commercial, as: :select, label: false, collection: Property.commercial_situations.map { |k,v| [k.humanize, v]},selected: params[:by_commercial], include_blank: "Você procura por", input_html: { name: 'by_commercial', id: 'by_commercial'}
                
                = f.input :by_type, as: :select, label: false, collection: Property.type_properties.map { |k,v| [k.humanize, v]},selected: params[:by_type], include_blank: "Tipo de imóvel", input_html: { name: 'by_type', id: 'by_type'}
                
                = f.input :empty,label: false, as: :select, selected: params[:by_room], include_blank: "selecione...",collection: [], input_html: { id: 'empty_one', name: 'option_one'}

                = f.input :empty,label: false, as: :select,  selected: params[:by_group], include_blank: "selecione...",collection: [], input_html: { id: 'by_group', name: 'by_group'}

                = f.input :by_detail_group,label: false, as: :select,  selected: params[:option_two], include_blank: "selecione...",collection: [], input_html: { id: 'by_detail_group', name: 'by_detail_group'}
              .gsearch-action
                .gsubmit
                  %input.btn.btn-deault{type: 'submit', value: 'Buscar'}

:javascript

  $(document).ready(function() {

    options();
    select_options();

    $("#by_commercial").on('change', function() {
      html = '<option value>selecione...</option>'
      
      $("#by_type").val('')
      $("#empty_one").html(html)
      $("#empty_two").html(html)
    });

    $("#by_type").on('change', function() {
      if($("#by_commercial").val() == "") {
        alert('Selecione a situação do imóvel...')
      } else {
         options();
      }
    });


    $("#by_group").on('change', function() {
      get_json_units($(this).val())
    });

    function get_json_units(group_id) {

      $.getJSON("/site/units?group_id=" + group_id, function(data) {
        var items = [];
        items.push("<option value>Selecione...</option>");)
        $.each(data, function(key, val) {
          items.push("<option value='" + val.id + "'>" + val.name + "</option>");
        });
        $("#by_detail_group").html(items)
      });

    }

    function select_options() {
      var option_one = #{(!params[:option_one].present?) ? 'null' : params[:option_one] }
      var option_two = #{(!params[:option_two].present?) ? 'null' : params[:option_two] }

      if(option_one != null) {
        $("#empty_one").val(option_one)
      }

      if(option_two != null) {
        $("#empty_two").val(option_two)
      }
    }

    function options() {

      var situation = $("#by_commercial").val();
      var type = $("#by_type").val();

      if((situation == '0' || situation == '1') && type == '0') {
        html_one = "<option value> Nº de Quartos</option>"
        html_one += "<option value='1'>1</option>"
        html_one += "<option value='2'>2</option>"
        html_one += "<option value='3'>3</option>"
        html_one += "<option value='4'>4 ou +</option>"
        html_one += "<option value='99'>Cobertura</option>"
        $("#empty_one").html(html_one)
        $("#empty_one").attr('name', 'by_room');

        html_two  = "<option value>Quadra</option>"
        html_two += "<option value='100_SQNW'>100 SQNW</option>"
        html_two += "<option value='300_SQNW'>200 SQNW</option>"
        html_two += "<option value='700_SQNW'>700 SQNW</option>"

        $("#by_group").html(html_two)
      }

      if((situation == '0' || situation == '2') && type == '1') {
        html_one = "<option value>Área (m²)</option>"
        html_one += "<option value='50'>0 - 50</option>"
        html_one += "<option value='70'>51 - 70</option>"
        html_one += "<option value='100'>71 - 100</option>"
        html_one += "<option value='101'>100 ou +</option>"
         $("#empty_one").html(html_one)
        $("#empty_one").attr('name', 'by_area');

        html_two  = "<option value>Quadra</option>"
        html_two += "<option value='_CLNW'>CLNW</option>"
        html_two += "<option value='500_CRNW'>500 CRNW</option>"
        html_two += "<option value='700_CRNW'>700 CRNW</option>"

        $("#by_group").html(html_two)
      }

    }
  });