!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Nw Aqui
    = stylesheet_link_tag 'site/application', media: 'all'
    %link{:href => "http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic,400italic", :rel => "stylesheet", :type => "text/css"}/

    %script{:src => "http://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&libraries=places", :type => "text/javascript"}
    = javascript_include_tag 'site/application'
    = csrf_meta_tags
  %body{class: (controller.action_name == 'show') ? 'page-right-sidebar' : 'home page-fullwidth' }
    .site
      - if touch_device?
        = render "layouts/site/templates/#{domain?}/mobile/header"
      - else
        = render "layouts/site/templates/#{domain?}/desktop/header"
      = yield
    #modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal", :role => "dialog", :tabindex => "-1", :style => 'z-index: 9999;'}
      .modal-dialog
        .modal-content
